product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
system/system/apex/com.android.vndk.current.apex
system/system/reserve/CanvasResources/CanvasResources.apk
system_ext/priv-app/OnePlusGallery/OnePlusGallery.apk
system_ext/priv-app/OnePlusCamera/OnePlusCamera.apk
system_ext/priv-app/Settings/Settings.apk
