service hypnusd /system_ext/bin/hypnusd
	class main
	user system
	group system readproc root
	capabilities SYS_NICE
	disabled

on property:sys.boot_completed=1 && property:persist.sys.hypnus.daemon.enable=0
	stop hypnusd

on property:sys.boot_completed=1 && property:persist.sys.hypnus.daemon.enable=1
	start hypnusd

#Policy0
chmod 660 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
chmod 660 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
chmod 660 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
#Policy4
chmod 660 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
chmod 660 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
chmod 660 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
#Policy7
chmod 660 /sys/devices/system/cpu/cpufreq/policy7/scaling_max_freq
chmod 660 /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq
chmod 660 /sys/devices/system/cpu/cpufreq/policy7/scaling_governor
chown system system /sys/devices/system/cpu/cpufreq/policy7/scaling_governor

chmod 0664 /dev/stune/foreground/schedtune.prefer_idle

#Input boost
chown system system /sys/devices/system/cpu/cpu_boost/input_boost_freq
